html, body{
  min-height: -webkit-fill-available;
  height: 100%;
  font-family: 'Handlee', cursive;
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.App {
  min-height: -webkit-fill-available;
  text-align: center;
}
